:root {
  --primary-font: "Open Sans Condensed", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  --primary-font-weight: 700;
  --secondary-font-weight: 400;
  --third-font-weight: 600;
  --background-color: #333;
  --header-color:rgba(51, 51, 51, 0.8);
  --bg-fixed-panel:rgba(51, 51, 51, 0.75);
  --svg-fill: rgba(255, 255, 255, 0.6);
  --light-color: #fff;
  --accent-color: #d1a954;
  --text-color-primary: #fff;
  --text-color-secondary: #989898;
  --text-color-third:#c4c4c4;
  --transition-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

body {
  font-family: var(--primary-font);
  font-weight: var(--primary-font-weight);
  color: var(--text-color-primary);
  background-color: var(--background-color);
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 576px) {
  .container {
    width: 510px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 690px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 700px;
    padding-left: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1110px;
    padding-left: 15px;
  }
}
.text {
  font-family: var(--secondary-font);
  font-weight: var(--secondary-font-weight);
  font-size: 14px;
  line-height: 1.5;
}

.btn {
  display: inline-block;
  width: auto;
  height: auto;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 47px;
  background: var(--accent-color);
  color: var(--text-color-primary);
  border: transparent;
  cursor: pointer;
}

.title {
  font-size: 48px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-color-primary);
}

.title-accent {
  color: var(--accent-color);
}

@media screen and (min-width: 1440px) {
  .title {
    font-size: 64px;
  }
}
.media-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 258px;
  margin-bottom: 80px;
}

.media-list__icon-instagram {
  width: 26px;
  height: 26px;
}

.media-list__icon-facebook {
  width: 15px;
  height: 26px;
  padding-left: 5px;
}

.media-list__icon-vk {
  width: 26px;
  height: 14px;
}

.media-list__icon-youtube {
  width: 26px;
  height: 18px;
}

.media-list__icon {
  fill: var(--svg-fill);
  transition: fill var(--transition-animation);
}
.media-list__icon:hover, .media-list__icon:focus {
  fill: var(--accent-color);
}

.swiper__container {
  display: none;
}

@media screen and (min-width: 1440px) {
  .swiper__container {
    display: block;
    position: relative;
    width: 350px;
    margin-right: auto;
  }
  .main-slider {
    position: absolute;
    z-index: 95;
    width: 350px;
    height: 490px;
    top: -115px;
  }
  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .thumbs-slider {
    position: absolute;
    z-index: 5;
    top: -95px;
    left: 18px;
    height: 490px;
    width: 350px;
  }
  .thumbs-slider .swiper-slide {
    position: relative;
    width: 350px;
    cursor: pointer;
  }
  .thumbs-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .thumbs-slider .swiper-slide::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(209, 169, 84, 0.85);
  }
  .slider-controls {
    position: absolute;
    bottom: 223px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .slider-controls .swiper-button-prev,
  .slider-controls .swiper-button-next {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    color: var(--light-color);
  }
  .slider-controls .swiper-button-prev {
    left: 65px;
  }
  .slider-controls .swiper-button-next {
    right: 45px;
  }
  .slider-controls .swiper-button__icon {
    width: 16px;
    height: 48px;
    fill: var(--light-color);
    stroke: var(--light-color);
  }
  .swiper-button-prev__text {
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--text-color-primary);
  }
}
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.page-header__container {
  display: flex;
  align-items: center;
  padding-top: 56px;
  padding-bottom: 20px;
}

.menu {
  display: none;
}

.contact-phone {
  position: relative;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-left: auto;
}
.contact-phone::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  left: 0;
  bottom: -5px;
  height: 2px;
  background: var(--accent-color);
}

@media screen and (max-width: 991px) {
  .open-mobile-menu-btn {
    z-index: 101;
    line-height: 0;
    border: none;
    background-color: transparent;
    margin-right: auto;
  }
  .open-mobile-menu-btn__icon {
    width: 26px;
    height: 20px;
    fill: var(--light-color);
    padding-top: 3px;
  }
}
.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #333;
  overflow-y: auto;
  overflow-x: hidden;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.page-header.menu-open .open-mobile-menu-btn {
  display: none;
}

.mobile-menu__container {
  display: flex;
  flex-direction: column;
  height: 100vw;
  padding-top: 100px;
}

.mobile-menu__close-btn {
  position: absolute;
  right: 29px;
  background-color: transparent;
  border: none;
  top: 32px;
  line-height: 0;
}

.mobile-menu__close-icon {
  width: 25px;
  height: 25px;
  fill: var(--light-color);
}

.mobile-menu-nav {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 40px;
}

.mobile-menu__link {
  transition: color var(--transition-animation);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-menu__item {
  font-size: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.mobile-media-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  width: 140px;
  height: 126px;
  gap: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-bottom: 50px;
}

.mobile-media-list__icon-instagram {
  width: 45px;
  height: 45px;
}

.mobile-media-list__icon-facebook {
  width: 26px;
  height: 45px;
  padding-left: 7px;
}

.mobile-media-list__icon-vk {
  width: 45px;
  height: 24px;
}

.mobile-media-list__icon-youtube {
  width: 45px;
  height: 31px;
}

.mobile-media-list__icon {
  fill: var(--svg-fill);
  transition: fill var(--transition-animation);
}
.mobile-media-list__icon:hover, .mobile-media-list__icon:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 576px) {
  .mobile-menu {
    width: 300px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu__container {
    padding-top: 140px;
  }
  .mobile-menu-nav {
    gap: 35px;
  }
  .mobile-media-list {
    margin-top: 89px;
  }
}
@media screen and (min-width: 992px) {
  .page-header__container {
    flex-wrap: wrap;
    padding-top: 50px;
  }
  .contact-phone {
    margin-left: auto;
    margin-right: auto;
    padding-top: 52px;
    padding-right: 100px;
  }
  .contact-phone::after {
    width: 58%;
  }
  .open-mobile-menu-btn {
    display: none;
  }
  .menu {
    display: flex;
    gap: 28px;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  .menu__item {
    white-space: nowrap;
  }
  .menu__link {
    transition: color var(--transition-animation);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
  .mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .page-header__container {
    flex-wrap: nowrap;
  }
  .contact-phone {
    margin-left: auto;
    margin-right: 0;
    padding: 0;
  }
  .contact-phone::after {
    width: 100%;
  }
  .menu {
    gap: 60px;
  }
}
.hero {
  position: relative;
  width: 100vw;
  background-image: url("../images/576/hero-bg_576.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  align-items: flex-end;
  height: 600px;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url("../images/768/hero-bg_768.jpg");
    height: 800px;
  }
}
@media screen and (min-width: 992px) {
  .hero {
    background-image: url("../images/992/hero-bg_992.jpg");
    height: 1045px;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    background-image: url("../images/1920/hero-bg_1920.jpg");
  }
}
.fixed-panel {
  display: none;
}

@media screen and (min-width: 992px) {
  .fixed-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 1045px;
    background: var(--bg-fixed-panel);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .fixed-panel__text {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--text-color-third);
    transform: rotate(-90deg);
    width: 220px;
  }
  .fixed-panel__text::before {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 80px;
    background: var(--text-color-third);
    top: 50%;
    left: -120px;
  }
}
.hero__container {
  display: flex;
}

.hero__text-wrapper {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .hero__text-wrapper {
    width: 542px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
  }
}
@media screen and (min-width: 992px) {
  .hero__text-wrapper {
    width: 100%;
    padding-left: 0;
  }
}
@media screen and (min-width: 1440px) {
  .hero__text-wrapper {
    width: 594px;
    margin-right: 72px;
    margin-left: 0;
  }
}
.hero__title {
  font-size: 36px;
  letter-spacing: 0.02em;
  word-spacing: 6px;
  text-transform: uppercase;
  margin-bottom: 12px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero__title {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 992px) {
  .hero__title {
    font-size: 48px;
    margin-bottom: 24px;
    letter-spacing: 0.09em;
    word-spacing: 3px;
    text-align: left;
    padding-left: 3px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__title {
    margin-bottom: 53px;
    padding-left: 0;
  }
}
.hero__list {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .hero__list {
    row-gap: 21px;
    margin-bottom: 47px;
  }
}
@media screen and (min-width: 992px) {
  .hero__list {
    row-gap: 21px;
    margin-bottom: 40px;
    padding-left: 2px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__list {
    row-gap: 20px;
    width: 591px;
    margin-bottom: 48px;
    padding-left: 0;
  }
}
.hero__btn {
  margin-bottom: 67px;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .hero__btn {
    margin-bottom: 150px;
  }
}
@media screen and (min-width: 992px) {
  .hero__btn {
    margin-bottom: 315px;
    margin-left: 12px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__btn {
    margin-bottom: 215px;
    margin-left: 0;
  }
}
.about {
  padding-top: 80px;
  text-align: center;
  padding-bottom: 111px;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  row-gap: 32px;
}

.about__numbers__title {
  font-size: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 34px;
}

.about__numbers {
  margin-right: auto;
  margin-left: auto;
}

.about__numbers__text {
  font-size: 16px;
  letter-spacing: 0.05em;
  margin-top: 11px;
}

.about__numbers__text-accent {
  color: var(--accent-color);
}

.about__numbers__box {
  display: flex;
  flex-direction: row;
  gap: 52px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.about__numbers__icon {
  width: 70px;
  height: 70px;
  fill: var(--light-color);
}

.about__img-wrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .about {
    padding-top: 90px;
  }
  .about__wrapper {
    display: flex;
    flex-direction: row;
    text-align: left;
  }
  .about__best-theatre {
    width: 445px;
    margin-right: 10px;
  }
  .about__numbers__box {
    flex-direction: column;
    gap: 20px;
    margin-left: 0;
  }
}
@media screen and (min-width: 992px) {
  .about {
    padding-top: 150px;
  }
  .about__wrapper {
    margin-top: 100px;
  }
  .about__best-theatre {
    margin-right: 3px;
  }
}
@media screen and (min-width: 1440px) {
  .about__wrapper {
    margin-top: 78px;
  }
  .about__img-wrapper {
    display: block;
  }
  .about__best-theatre {
    margin-right: -10px;
  }
}/*# sourceMappingURL=main.css.map */