.about {
    padding-top: 80px;
    text-align: center;
    padding-bottom: 111px;
}
// .about__title {
//     margin-top: ;
// }
.about__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    row-gap: 32px;
}


.about__numbers__title {
    font-size: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 34px;
}

.about__numbers {
    margin-right: auto;
    margin-left: auto;
}
.about__numbers__text {
font-size: 16px;
letter-spacing: 0.05em;
margin-top: 11px;
}
.about__numbers__text-accent {
    color: var(--accent-color);
}
.about__numbers__box {
    display: flex;
    flex-direction: row;
    gap: 52px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.about__numbers__icon {
width: 70px;
height: 70px;
fill: var(--light-color);
}
// .about__numbers__icon-theater {
//     margin-top: 18px;
// }
.about__img-wrapper {
    display: none;
}

@media screen and (min-width: 768px) {
 .about {
    padding-top: 90px;    
}
.about__wrapper {
    display: flex;
    flex-direction: row;
    text-align: left;
    }
.about__best-theatre {
    width: 445px;
    margin-right: 10px;
}
.about__numbers__box {
    flex-direction: column;
    gap:20px;
    margin-left: 0;
   }
}

@media screen and (min-width: 992px) {
 .about {
    padding-top: 150px;
}
.about__wrapper {
    margin-top: 100px;
}
.about__best-theatre {
    margin-right: 3px;
}
}
@media screen and (min-width: 1440px) {
    .about__wrapper {
    margin-top: 78px;
}
  .about__img-wrapper {
    display: block;
  }
  .about__best-theatre {
    margin-right: -10px;
}
}