.page-footer {
        margin-top: 55px;
}
.page-footer__text-box {
    width: 504px;
border-top: 1px solid var(--color-border-footer);
display: flex;
justify-content: space-between;
padding-top: 30px;
padding-bottom: 30px;
margin-left: auto;
}
       
 .page-footer__text {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: var(--text-color-secondary);
  }
.text-1 {
    width: 307px;
}

@media screen and (min-width:768px){
    .page-footer {
        margin-top: 54px;
}
    .page-footer__text-box {
    width: 100%;
    }
    .text-1 {
    width: 425px;
}
}
@media screen and (min-width:992px){
    .page-footer {
        margin-top: 75px;
}
    .page-footer__text-box {
           width: 690px; 
           margin-left: 2px;
    }  

}
        @media screen and (min-width:1440px){
    .page-footer {
        margin-top: 0;
}
.page-footer__text-box {
            width: 100%;
        margin-left: 0;
    }
    
}
    