.partners {
  margin-top: 50px;
}
.partners__title {
  margin-bottom: 30px;
}
.partners__slider__slide {
  position: relative;
  overflow: hidden;
}
.partners__slider__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.swiper-slide.partners__slider__slide {
  width: 256px;
}
.partners__slider__box-logo {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 256px;
  margin-left: auto;
  margin-right: auto;
}
.logo-1 {
  margin-top: 12.5px;
  margin-bottom: 8px;
}
@media screen and (min-width: 576px) {
  .partners {
    margin-top: 85px;
  }
  .partners__title {
    margin-bottom: 92px;
  }
  .swiper-slide.partners__slider__slide {
    max-width: 256px;
  }
  .partners__slider__box-logo {
    row-gap: 89px;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .partners {
    margin-top: 95px;
  }
}
@media screen and (min-width: 992px) {
  .partners {
    margin-top: 158px;
  }
  .partners__slider__wrapper {
    width: 690px;
    margin-left: auto;
    margin-right: auto;
  }
  .partners__title {
    margin-bottom: 128px;
  }
  .partners__slider__box-logo {
    row-gap: 93px;
  }
}
@media screen and (min-width: 1440px) {
  .partners {
    margin-top: 154px;
  }
  .partners__slider__wrapper {
    width: 1111px;
  }
  .partners__title {
    margin-bottom: 139px;
  }
  .partners__slider__box-logo {
    row-gap: 130px;
  }
}
