.rating {
  margin-top: 50px;
  position: relative;
  width: 100vw;
  background-image:
    linear-gradient(rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9)),
    url("../images/576/rating-576.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.rating__container {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}
.rating__box-years {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  row-gap: 20px;
}
.rating__years {
  font-size: 46px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.rating__box-stars {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 25px;
}
.rating__box-stars__icon {
  width: 180px;
  height: 24px;
  fill: var(--accent-color);
}
.rating__box-stars__icon-1 {
  display: none;
  width: 230px;
  height: 24px;
  fill: var(--accent-color);
}
.rating__box-stars__text {
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 37px;
}
@media screen and (min-width: 576px) {
  .rating {
    margin-top: 77px;
  }
  .rating__container {
    margin-top: 130px;
    margin-bottom: 126px;
  }
  .rating__box-years {
    margin-right: 18px;
    row-gap: 0;
  }
  .rating__years {
    font-size: 72px;
  }
  .rating__box-stars {
    row-gap: 26px;
    margin-top: 65px;
  }
  .rating__box-stars__icon {
    width: 191.24px;
  }
  .rating__box-stars__text {
    font-size: 25px;
  }
}

@media screen and (min-width: 768px) {
  .rating {
    margin-top: 90px;
    background-image:
      linear-gradient(rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9)),
      url("../images/768/rating-768.png");
  }
  .rating__container {
    margin-top: 124px;
    margin-bottom: 126px;
    margin-left: 82px;
  }
  .rating__box-years {
    margin-right: 20px;
  }
  .rating__box-stars__text {
    font-size: 29px;
    line-height: 43px;
  }
}

@media screen and (min-width: 992px) {
  .rating {
    margin-top: 150px;
    background-image:
      linear-gradient(rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9)),
      url("../images/992/rating-992.png");
  }
  .rating__container {
    margin-left: 90px;
  }
  .rating__box-years {
    margin-right: 78px;
  }
  .rating__box-stars__text {
    font-size: 36px;
    line-height: 54px;
  }
  .rating__box-stars {
    margin-top: 44px;
  }
}

@media screen and (min-width: 1440px) {
  .rating {
    width: 1111px;
    background-image:
      linear-gradient(rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9)),
      url("../images/1920/rating-1920.png");
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
  }
  .rating__container {
    margin-left: 173px;
    margin-top: 189px;
  }
  .rating__box-years {
    margin-right: 125px;
  }
  .rating__box-stars__icon {
    display: none;
  }
  .rating__box-stars__icon-1 {
    display: block;
  }
}
